#  Practicing Feature Selection and Feature Extraction

In this example we are going to run a few tests regarding Feature Selection and Extraction methodologies.

***

## Dataset used:

### Mobile Price Classification
Data contains various different features and our job is to identify WHICH ones to use and HOW to use them.

**Source:** https://www.kaggle.com/iabhishekofficial/mobile-price-classification#train.csv

In [25]:
import numpy as np
import pandas as pd
import IPython as ipy
import matplotlib as plt

In [3]:
dataSet = pd.read_csv('train.csv')
dataSet.head(3)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2

In [6]:
dataSet.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [133]:
data_url = 'http://vincentarelbundock.github.io/Rdatasets/csv/carData/Salaries.csv'
df = pd.read_csv(data_url, index_col=0)
 
df.head();

In [48]:
# Grouping by one factor
df_rank = df.groupby('rank')

In [46]:
df_rank.count()

           discipline  yrs.since.phd  yrs.service  sex  salary
rank
AssocProf          64             64           64   64      64
AsstProf           67             67           67   67      67
Prof              266            266          266  266     266

# Merging a new/defined Column to existing DataFrame
Two functions are available to do so:
1. **JOIN**
2. **CONCAT**

In [125]:
# Creating Series where each squared bracket contains a LIST as tuple of Column 0
ba = pd.Series([[1,2,3,4], [4,3,2,1]])
ba_df = pd.DataFrame(ba)

# new column for merger
col2 = {'col2': [2,4]}

# use Pandas function JOIN or CONCAT to merge column to dataframe
ba_df = ba_df.join(pd.DataFrame(col2))
ba_df

              0  col2
0  [1, 2, 3, 4]     2
1  [4, 3, 2, 1]     4

# Creating DataFrame from two lists

In [132]:
columnWise = pd.DataFrame({'c1': [1,2,3,4], 'c2': [4,3,2,1]})
columnWise;

In [122]:
# Adds 1 to 1st row, 2 to 2nd row, 3 to 3rd, and 4 to 4th row of all values of c1 and c2
columnWise.add([1,2,3,4], axis=0)
columnWise.add([1,2,3,4], axis='rows')

# Adds 1 to all values of c1 and 2 to all values of c2
columnWise.add([1,2], axis=1)
columnWise.add([1,2], axis='columns');

# Important functions to keep in mind
* **pd.isnull(DataFrame)** - ***returns**: equal dimensions list with 'True' where NULL and 'False' where Not-NULL*
* **df.describe()** - ***returns**: basic aggregations of data like, min, max, std, count, percentiles, etc

## pd.isnull(DataFrame)

In [ ]:
# Returns list of equal length with 'TRUE' or 'FALSE' in each row where isNULL is applicable
pd.isnull(dataSet['battery_power'])

# Returns count of both 'TRUE' or 'FALSE' in each row where isNULL is applicable
pd.isnull(dataSet['battery_power']).value_counts()

## df.describe()

In [ ]:
# Testing DESCRIBE function on custom build series for analysis
# DESCRIBE function provides you with basic aggregations of data like count, mean, std, min, etc
s = pd.Series([1, 2, 3, 4])
s.describe();