#  Practicing Feature Selection and Feature Extraction

In this example we are going to run a few tests regarding Feature Selection and Extraction methodologies.

***

## Dataset used:

### Mobile Price Classification
Data contains various different features and our job is to identify WHICH ones to use and HOW to use them.

**Source:** https://www.kaggle.com/iabhishekofficial/mobile-price-classification#train.csv

In [25]:
import numpy as np
import pandas as pd
import IPython as ipy
import matplotlib as plt

In [3]:
dataSet = pd.read_csv('train.csv')
dataSet.head(3)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2

In [6]:
dataSet.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [24]:
# dataSet['battery_power']

# dataSet['battery_power'].value_counts()

pd.isnull(dataSet['battery_power']).value_counts()

False    2000
Name: battery_power, dtype: int64